@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, img, input, textarea, th, td, select { margin: 0; padding: 0; }

em { font-style: normal; }

li { list-style: none; }

a { text-decoration: none;  font-size: 12px; }

img { border: none; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

.clear:after { content: ''; display: block; clear: both; }

.wrapper {width:1200px; margin: 0 auto; }

body { color: #555; font-size: 12px; font-family: "宋体"; }
.Carousel{
    position: relative;
    width:100%;
    min-width: 1200px;
    .CarouselImg{
        position: relative;
        ul{
             width:770px;
            height: 360px;
            li{
                position: absolute;
                 img{
                    width:770px;
                    height: 360px;
                }
            }
        }
       
       
    }

        .page{
            position: absolute;
            top: 315px;
            left: 271px;
            span{
                display: block;
                float: left;
                width: 30px;
                height: 30px;
                margin-left: 10px;
                font-size: 20px;
                background: #ccc;
                border-radius: 15px;
                text-align: center;
                line-height: 30px;
                &:hover{
                    background: white;
                }
            }
            .active{
                 background: white;
            }
        }
    
}
