@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, img, input, textarea, th, td, select { margin: 0; padding: 0; }

em { font-style: normal; }

li { list-style: none; }

a { text-decoration: none; font-size: 12px; }

img { border: none; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

.clear:after { content: ''; display: block; clear: both; }

.wrapper { width: 1200px; margin: 0 auto; }

body { color: #555; font-size: 12px; font-family: "宋体"; }

.top { background: #ddd; width: 100%; min-width: 1200px; height: 30px; }

.top .top_l { float: left; }

.top .top_l h4 { float: left; line-height: 30px; display: block; font-size: 14px; }

.top .top_l span { line-height: 30px; float: left; }

.top .top_l span:hover { cursor: pointer; }

.top .top_l span div .area { display: none; }

.top .top_l p { float: left; line-height: 30px; margin-left: 10px; }

.top .top_l p a:hover { cursor: pointer; color: #d22d2d; }

.top .help { float: right; line-height: 30px; }

.top .help li { cursor: pointer; float: left; margin-left: 10px; }

.top .help li:hover a { color: #d22d2d; }

.top .help li a { color: #555; }

.top .help li i { padding-right: 5px; }

.top .help .EC { position: relative; }

.top .help .EC:hover ul { display: block; }

.top .help .EC ul { display: none; width: 76px; background: #fff; border: 1px solid #ddd; border-top: none; position: absolute; top: 30px; left: 10px; }

.top .help .EC ul li { text-align: center; }

.top .help .EC ul li span:hover { color: blue; }

.top .main .dog { float: left; }

.top .main .search_fl { float: left; margin: 35px 0 0 80px; }

.top .main .search_fl .on { position: relative; }

.top .main .search_fl .on input { width: 400px; height: 30px; border: 2px solid green; outline: mediumaquamarine; font-size: 18px; }

.top .main .search_fl .on button { width: 60px; height: 34px; position: absolute; left: 402px; border: 2px solid green; cursor: pointer; outline: mediumaquamarine; }

.top .main .search_fl .search_hot { margin-top: 10px; }

.top .main .search_fl .search_hot .active { color: red; }

.top .main .car { float: right; background: #C1CED6; padding: 5px; border-radius: 15px; margin: 36px 210px 0 0; }

.top .main .car i { font-size: 20px; }

.top .main .car a { font-size: 20px; }

.top .main .car a:hover { color: red; }

.top .Nav .NavAll .mainFool { margin-top: 16px; }

.top .Nav .NavAll .mainFool .pets { width: 100px; display: block; position: relative; text-align: center; heigth: 35px; border: 1px solid #E1E1E1; background: #fb6634; float: left; }

.top .Nav .NavAll .mainFool .pets ul { position: absolute; top: 20px; }

.top .Nav .NavAll .mainFool .pets ul .pet-dog { border-bottom: 1px dashed; width: 200px; height: 180px; }

.top .Nav .NavAll .mainFool .pets ul .pet-dog a { display: block; width: 63px; height: 63px; overflow: hidden; background: url("../img/pet.png"); position: absolute; top: 40px; left: 65px; }

.top .Nav .NavAll .mainFool .pets ul .pet-dog p { position: absolute; top: 115px; left: 50px; }

.top .Nav .NavAll .mainFool .pets ul .pet-dog span { position: absolute; top: 130px; left: 45px; width: 100px; display: block; height: 30px; background: yellow; border: 1px solid; text-align: center; line-height: 30px; }

.top .Nav .NavAll .mainFool .pets ul .pet-dog img { position: absolute; top: 35px; left: 130px; }

.top .Nav .NavAll .mainFool .pets ul .pet-cat { width: 200px; height: 180px; position: relative; }

.top .Nav .NavAll .mainFool .pets ul .pet-cat a { display: block; width: 63px; height: 63px; overflow: hidden; background: url("../img/pet.png") 0 -63px; position: absolute; top: 40px; left: 65px; }

.top .Nav .NavAll .mainFool .pets ul .pet-cat p { position: absolute; top: 115px; left: 50px; }

.top .Nav .NavAll .mainFool .pets ul .pet-cat span { position: absolute; top: 130px; left: 45px; width: 100px; display: block; height: 30px; background: yellow; border: 1px solid; text-align: center; line-height: 30px; }

.top .Nav .NavAll .mainFool .pets ul .pet-cat img { position: absolute; top: 35px; left: 130px; }

.top .Nav .NavAll .mainFool .fenlei { width: 100px; display: block; float: left; position: relative; text-align: center; heigth: 35px; border: 1px solid #E1E1E1; }

.top .Nav .NavAll .mainFool .fenlei h2 { font-size: 18px; padding-right: 17px; }

.top .Nav .NavAll .mainFool .fenlei .fa-angle-down { position: absolute; top: 1px; left: 84px; font-size: 20px; }

.top .Nav .NavAll .mainFool .fenlei ul { display: none; }

.top .Nav .NavAll .mainFool .shopping-Nav { float: left; margin-left: 40px; }
